/* MarketDepthCharts.css */

/* .market-depth-charts-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .market-depth-charts-header {
    margin-bottom: 20px;
  }
  
  .date-picker-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .chart-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .charts-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
   */