.sidebar {
  width: 250px;
  transition: width 0.3s ease-in-out;
  height: 100vh;
  background-color: rgb(10,25,41);
  padding-top: 28px;
}

.sidebarClosed {
  composes: sidebar;
  transition: width 0.3s ease-in-out;
  width: 60px
}

.sideitem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  color: #B2BAC2;
  text-decoration: none;
}

.linkText {
  padding-left: 16px;
}

/* Sidebar.module.css */
.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px; /* Adjust the height to your preference */
  transition: all 0.3s; /* Add a transition for smooth animation */
}

.logo {
  max-width: 80%; /* Shrink the image to 80% of the container width */
  height: auto;
  opacity: 1;
  transition: all 0.3s; /* Add a transition for smooth animation */
}

.logoClosed {
  max-width: 0;
  opacity: 0;
}

.linkTextClosed {
  composes: linkText;
  visibility: hidden;
}

.sideitem:hover {
  background-color: #244f7d1c;

}

a {
  text-decoration: none;
  color: white;
}

.menuBtn {
  align-self: center;
  align-self: flex-start; 
  justify-self: flex-end;
  color: #B2BAC2;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 20px;
}

.logoutButton {
  position: fixed;
  bottom: 20px;
  left: 20px; /* Adjust the distance from the left as needed */
  width: 100px; /* Adjust the button width as needed */
  text-align: center;
  transition: all 0.3s;
}

.logoutButton button {
  padding: 10px 20px;
  background-color: #000000; /* Customize the button styles */
  color: #ffffff; /* Text color */
  border: none;
  cursor: pointer;
  font-family: "Calibri";
  border-radius: 20%;
}

.logoutButtonOpen {
  opacity: 1;
  transform: translateY(0); /* Move the button up */
}

.logoutButtonClosed {
  opacity: 0;
  transform: translateY(100%); /* Move the button out of sight */
}
