:root {
  /* Define CSS variables for colors and dimensions used throughout the stylesheet */
  --background-dark: rgba(0, 0, 0, 0.858);
  --sidebar-width: 250px;
  --sidebar-collapsed-width: 60px;
  --sidebar-background-color: rgb(10, 25, 41);
  --sidebar-hover-color: #244f7d1c;
  --primary-text-color: #B2BAC2;
  --button-background-color: #000000;
  --button-text-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: var(--background-dark); */ /* Uncomment if background color is needed */
}

.App {
  height: 100vh;
}

.mainContent {
  padding: 1rem;
  transition: margin-left 0.3s; /* Transition for sidebar animations */
  box-sizing: border-box;
}

.mainOpen {
  margin-left: var(--sidebar-width);
}

.mainClosed {
  margin-left: var(--sidebar-collapsed-width);
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .mainContent {
    padding: 0.5rem; /* Reduced padding on smaller screens */
  }
}

/* Ensure images are responsive */
img.responsive {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
}

/* Sidebar */
.sidebar {
  position: fixed;
  width: var(--sidebar-width);
  height: 100vh;
  background-color: var(--sidebar-background-color);
  padding-top: 28px;
  transition: width 0.3s ease-in-out;
  z-index: 1;
}

.sidebarClosed {
  width: var(--sidebar-collapsed-width);
}

/* Sidebar Items */
.sideitem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  color: var(--primary-text-color);
  text-decoration: none;
}

.linkText {
  padding-left: 16px;
}

.linkTextClosed {
  visibility: hidden;
}

.sideitem:hover {
  background-color: var(--sidebar-hover-color);
}

/* Links */
a {
  text-decoration: none;
  color: white;
}

/* Logo */
.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  transition: all 0.3s;
}

.logo {
  max-width: 80%;
  height: auto;
  opacity: 1;
  transition: opacity 0.3s, max-width 0.3s;
}

.logoClosed {
  max-width: 0;
  opacity: 0;
}

/* Menu Button */
.menuBtn {
  align-self: flex-start;
  justify-self: flex-end;
  color: var(--primary-text-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 20px;
}

/* Logout Button */
.logoutButton {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 100px;
  text-align: center;
  transition: transform 0.3s, opacity 0.3s;
}

.logoutButton button {
  padding: 10px 20px;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  font-family: "Calibri";
  border-radius: 20%;
}

.logoutButtonOpen {
  opacity: 1;
  transform: translateY(0);
}

.logoutButtonClosed {
  opacity: 0;
  transform: translateY(100%);
}

.plotWrapper {
  width: 100%;
  height: 100%;
  display: flex;
}
